.mainContainer {
    background-image: url("/ferret-background2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 56.25%;
    position: relative;
}

.someText {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 40%;
}

/*Info below background image*/

.infoContainer {
    display: flex;
    width: 80%;
    margin: 10rem auto;
    gap: 4rem;
}

.textContainer {
    flex: 0 50%;
}

.para {
    padding-top: 1.5rem;
    font-size: 1.2rem;
}

.imgContainer {}

.img {
    flex: 0 50%;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {}